:root {
    --projectPanelWidth:calc((100vw/3) - 16px);
}
.projectContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
.projectContainer .projectBox {
    width: var(--projectPanelWidth);
    height: calc(var(--projectPanelWidth) * (4/3));
    background-color: #f1f1f1;
    border: 1px solid black;
    margin:4px;
}

.projectContainer .projectBox * {
    width: calc(var(--projectPanelWidth)*0.9);
    margin-left: calc(var(--projectPanelWidth)*0.05);
    margin-right: calc(var(--projectPanelWidth)*0.05);
    margin-top:0;
}

.projectContainer .projectBox a {
    margin-left:0;
    margin-right:0;
}

.projectContainer .projectBox h3 {
    font-size: 20pt;
    text-align: center;
    margin-top:1em;
}

.projectContainer div iframe {
    text-align: center;
}

.projectEmbed_4_3 {
    height: calc(var(--projectPanelWidth)*0.9*(3/4));
}

.projectEmbed_16_9 {
    height: calc(var(--projectPanelWidth)*0.9*(9/16));
}