:root {
    --projectBorder:0.25em;
    --projectMargin:0.5em;
    --projectPadding:1em;
    --projectPanelWidth:calc((100vw/3) - (var(--projectMargin)*4) - (var(--projectBorder)*2));
}

.projectTitle {
    font-size:25pt;
    font-family: 'minercraftory';
    text-align: center;
    padding-left: var(--projectMargin);
    margin-left: var(--projectMargin);
    padding-right: var(--projectMargin);
    margin-right: var(--projectMargin);
}

.projectContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left:var(--projectMargin);
  padding-right:var(--projectMargin);
}
.projectContainer .projectBox {
    width: var(--projectPanelWidth);
    height: calc(var(--projectPanelWidth) * (4/3));
    background-color: #f1f1f1;
    border: var(--projectBorder) solid black;
    margin:var(--projectMargin);
}

.projectContainer .projectBox * {
    width: calc(var(--projectPanelWidth)*0.9);
    margin-top:0;
}

.projectContainer .projectBox a {
    margin-left:0;
    margin-right:0;
}

.projectContainer .projectBox h3 {
    font-size: 20pt;
    text-align: center;
    margin-top:1em;
}

.projectContainer div iframe {
    text-align: center;
}

.projectEmbed_4_3 {
    height: calc(var(--projectPanelWidth)*0.9*(3/4));
}

.projectEmbed_16_9 {
    height: calc(var(--projectPanelWidth)*0.9*(9/16));
}