:root {
    --projectBorder:0.25em;
    --projectMargin:0.5em;
    --projectPadding:1em;
    --projectPanelWidth:calc(max(20em, (100vw/3) - (var(--projectMargin)*4) - (var(--projectBorder)*2) - (var(--projectPadding)*2)));
}

.projectTitle {
    font-size:25pt;
    font-family: 'minercraftory';
    text-align: center;
    padding-left: var(--projectMargin);
    margin-left: var(--projectMargin);
    padding-right: var(--projectMargin);
    margin-right: var(--projectMargin);
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    padding-left:var(--projectMargin);
    padding-right:var(--projectMargin);
}
.projectContainer .projectBox {
    width: var(--projectPanelWidth);
    height: calc(var(--projectPanelWidth) * (4/3));
    background-color: #f1f1f1;
    border: var(--projectBorder) solid black;
    margin:var(--projectMargin);
    padding-left:var(--projectPadding);
    padding-right:var(--projectPadding);
    text-align: center;
}

.projectContainer .projectBox * {
    text-align: left;
}

.projectContainer .projectBox h3 {
    font-size: 20pt;
    text-align: center;
    margin-top:1em;
}

.projectContainer div iframe {
    height:calc(var(--projectPanelWidth)*(4/3)*(1/3));
    margin:auto;
}

.projectEmbed_4_3 {
    width:calc(var(--projectPanelWidth)*(4/3)*(1/3)*(4/3));
}

.projectEmbed_16_9 {
    width:calc(var(--projectPanelWidth)*(4/3)*(1/3)*(16/9));
}