@font-face {
    font-family: 'calibri';
    src: url('/blockbusters-wiki/fonts/calibri-regular.ttf');
}

* {
    font-family: "calibri";
}

div.gui {
    background-color: lightslategray;
    top: 0;
    position: sticky;
    align-content: start;
    justify-content: center;
}