@font-face {
    font-family: 'Block Balance';
    src: url('Block Balance.ttf');
}

@font-face {
    font-family: 'Big Block Balance';
    src: url('Big Block Balance.ttf');
}


* {
    /*font-family:"Block Balance";*/
}

/*h2 {
    font-family:"Big Block Balance";
    text-transform: uppercase;
}

h3 {
    font-family:"Big Block Balance";
    text-transform: uppercase;
}*/

.blu {
    color:blue;
}

.crim {
    color:red;
}

.icon {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    object-position: 0% 50%;
}
