@font-face {
    font-family: 'calibri';
    src: url('/fonts/calibri-regular.ttf');
}

@font-face {
    font-family: 'minercraftory';
    src: url('/fonts/Minercraftory.ttf');
}

* {
    font-family: "calibri";
}

body {
    margin: 0;
}

.header {
    background-color: rgb(61, 61, 61);
    padding-top: 4em;
    padding-bottom: 4em;
    border-color: rgb(162, 0, 255);
    border-bottom-width: 1em;
}

.header * {
    margin: 0;
}

h1.headerTitle {
    font-family: 'minercraftory';
    color:rgb(162, 0, 255);
    text-align:center;
}

p.headerCaption {
    font-family: 'minercraftory';
    color:rgb(162, 0, 255);
    text-align:center;
}

div.gui {
    background-color: rgb(61, 61, 61);
    border-color: rgb(162, 0, 255);
    border-bottom-width: 1em;
    top: 0;
    position: sticky;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.gui a {
    margin: 1em;
    color:rgb(162, 0, 255);
    font-size:15pt;
}